* {
  /* 모든 파일에 적용하는 뜻 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: left;
  height: 100vh;
  padding: 20px;
}

.container {
  border: 1px solid black;
  width: 150px;
  height: 120px;
  padding: 20px;
}
