@charset "utf-8";

.re-bar{
    width: 100%;
    height: 8rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    /* border: 5px solid rgb(218, 218, 80); */
    /* border: 5px solid gold; */
    background-color: beige;
}
#re-content{
    width: 100%;
    /* border: 1px solid black; */
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#re-content p{
    /* border: 1px solid black; */
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin-right: 15px;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form button{
    width: 30px;
    height: 30px;
    /* background-color: #e2e2e2; */
    /* border: 1px solid #eee; */
    border-color: #ebddcc;
    border-radius: 5px;
    background-color: white;
}
.datepicker{
    width: 35%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ebddcc !important;
}
.re-adult{
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.re-child{
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.re-adult input,
.re-child input{
    width: 60%;

}
.re-num{
    width: 10%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.re-num input {
    width: 100%;
}
.re-bt{
    width: 15%;
    height: 5em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.re-bt button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2vw;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}